@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --background-color: #1f2937;
  --call-to-action: #3882f6;
  --quote-bg-color: #e5e7eb;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #1f2937;
}

main {
  display: flex;
  flex-direction: column;
}
.hero {
  background-color: var(--background-color);
  /* padding: 20px 300px 20px 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
display: flex;
align-items: center;
width: 60%;
justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 600;
  
}

a {
  text-decoration: none;
  color: inherit;
}

.header-link {
  color: #e5e7eb;
  font-size: 18px;
  padding-top: 5px;
}

#first-section {
  display: flex;
  justify-content: end;
  width: 60%;
  margin-top: 6em;
  margin-bottom: 6em;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  margin: 0;
}

.tagline {
  flex: 2 1 0%;
  padding: 3em 0em;
}

.line-break::after {
  content: "\A";
  white-space: pre;
}

p {
  color: #e5e7eb;
  font-size: 18px;
}

button {
  background-color: var(--call-to-action);
  color: #f9faf8;
  padding: 5px 25px;
  border-radius: 5px;
  border: none;

}

.placeholder {
  background-color: rgb(150, 150, 150);
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-section {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  padding-top: 30px;
  display: flex;
  gap: 40px;
}

.one,
.two,
.three {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-container {
  width: 160px;
  height: 160px;
  border: solid 2px #3882f6;
  border-radius: 10px;
}

.info-container-p {
  padding-top: 5px;
  color: #1f2937;
}

.third-section {
  background-color: var(--quote-bg-color);
  font-size: 36px;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
}

.quote {
  color: #1f2937;
  font-size: 36px;
  margin: 0;
}

.author {
  padding-left: 250px;
  font-size: 25px;
}

.forth-section {
  padding: 70px 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.call-to-action {
  background-color: var(--call-to-action);
  border-radius: 5px;
  border: none;
  padding: 30px 100px;
}

.call-to-action-content {
  display: flex;
  justify-content: end;
  gap: 90px;
}

.call-to-action-p {
  flex: 2 1 0%;
}

.call-to-action-p p {
    margin: 0;
}

.sign-up-b {
  border: solid 1px white;
  padding: 2px 20px;
}

.call-to-action-b {
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-to-sign-up {
  color: #e5e7eb;
}

footer {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}
