@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background-color: #1f2937;
    --call-to-action: #3882f6;
    --quote-bg-color: #e5e7eb;
}

* {
    margin: 0;
    padding: 0;
    /* border: solid 2px red; */
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 300px;
    background-color: var(--background-color);
}

nav {
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    flex: 2 1 0%;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-link {
    display: inline-flex;
    gap: 20px;
    color: #e5e7eb;
    font-size: 18px;
    padding-top: 5px;
}

#first-section {
    display: flex;
    justify-content: end;
    margin-top: 6em;
    margin-bottom: 6em;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
}

.tagline {
    flex: 2 1 0%;
}

.line-break::after {
    content: '\A';
    white-space: pre;
}

p {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: var(--call-to-action);
    color: #f9faf8;
    padding: 5px 25px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}

.placeholder {
    background-color: rgb(150, 150, 150);
    width: 500px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.second-section {
    padding: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    display: flex;
}

